/* Core styles */
body {
    font-family: sans-serif;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
.to-uppercase {
    text-transform: uppercase;
}
.clearfix {
    clear: both;
}
.button {
    color: white;
    border: none;
    font-size: 14px;
    font-weight: 500;
    padding: 20px 40px;
    background-color: #1c44e4;
    cursor: pointer;
    border-radius: 5px;
}
.blur-line {
    display: inline-block;
    width: 80px;
    height: 4px;
    margin-left: 5px;
    background-color: palevioletred;
    filter: blur(4px);
    border-radius: 4px;
}
.section-subtitle {
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #797979;
    text-transform: uppercase;
}
.section-title {
    margin-top: 5px;
    font-size: 42px;
    font-weight: 700;
    text-transform: capitalize;
    color: #05364d;
}

/* Main header styles */
.main-header__brand {
    display: inline-block;
    vertical-align: middle;
}
.main-navigation {
    display: inline-block;
    vertical-align: middle;
}
.main-navigation__item {
    display: inline-block;
    padding: 10px;
}
.main-navigation__item a {
    text-decoration: none;
    text-transform: uppercase;
    color: #05364d;
    font-size: 12px;
    font-weight: 500;
}
.main-navigation__item a:hover {
    color: #efb6df;
}
.main-navigation__item.active a {
    color: #efb6df;
}

/* Main section */
.main-section {
    padding: 100px 30px;
}
.main-section > div {
    width: 50%;
    float: left;
}
.main-section__image {
    text-align: right;
}
.main-section__welcome {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 20px;
    color: #797979;
}
.main-section__introduction {
    margin-top: 20px;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #05364e;
}
.main-section__position {
    color: #05364e;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
}
.main-section__social-networks a {
    display: inline-block;
    color: #8fa1aa;
    font-size: 20px;
    cursor: pointer;
    margin-right: 16px;
}
.main-section__social-networks a:hover i {
    color: #1c44e4;
} 
.main-section__action {
    margin-top: 30px;
}

/* Statistics section */
.statistics {
    padding-top: 100px;
}
.statistics__item {
    display: inline-block;
    background: #f8faff;
    padding: 5px 10px;
    text-align: center;
    margin-right: 20px;
    width: 150px;
}
.statistics__number {
    font-size: 27px;
    margin-bottom: 5px;
    color: #1c44e4;
}
.statistics__title {
    font-size: 16px;
    color: #797979;
    font-weight: 300;
}

/* About me section */
.about-me {
    padding: 100px 0;
}
.about-me > div {
    width: 50%;
    float: left;
}
.about-me__image img {
    width: 90%;
}
.about-me__description {
    font-size: 14px;
    font-weight: 300;
    color: #797979;
    line-height: 27px;
}
.about-me__action {
    margin-top: 40px;
}

/* Services section */
.services {
    padding-top: 100px;
}
.service-card {
    display: inline-block;
    text-align: center;
    background-color: #f8faff;
    width: 30%;
    margin-right: 3%;
    padding: 30px 60px;
    box-sizing: border-box;
}
.service-card__title {
    text-transform: uppercase;
    font-size: 20px;
    color: #05364d;
    margin-bottom: 20px;
    font-weight: 500;
}
.service-card__description {
    font-size: 14px;
    line-height: 27px;
    font-weight: 300;
    color: #797979;
}
.service-card__link {
    font-weight: 500;
    color: #05364d;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
}
.service-card:hover {
    background-color: #5f30ff;
}

.service-card:hover .service-card__title,
.service-card:hover .service-card__description,
.service-card:hover .service-card__link {
    color: #fff;
}

/* Clients section styles */
.clients {
    padding-top: 100px;
}
.client-item > div {
    width: 50%;
    float: left;
    box-sizing: border-box;
}
.client-item__info {
    padding-top: 50px;
    padding-left: 50px;
}
.client-item__image img {
    width: 100%;
}
.client-item__name {
    font-size: 20px;
    margin-bottom: 4px;
}
.client-item__position {
    font-size: 14px;
    font-weight: 300;
    color: #5b6d75;
}
.client-item__review {
    font-size: 14px;
    line-height: 27px;
    color: #5b6d75;
    font-weight: 300;
}
.client-item__rate {
    color: #ffd805;
}
.client-item__rate .disabled {
    color: #797979;
}