/* Core styles */
body {
    margin: 0;
    font-family: sans-serif;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
.to-uppercase {
    text-transform: uppercase;
}
.clearfix {
    clear: both;
}
.button {
    color: white;
    border: none;
    font-size: 14px;
    font-weight: 500;
    padding: 20px 40px;
    background: linear-gradient(to right, #1345e6 0%, #ed239f 51%, #1345e6 100%);
    cursor: pointer;
    border-radius: 5px;
    background-size: 200% auto;
}
.button:hover {
    background-position: right center;
}
.blur-line {
    display: inline-block;
    width: 80px;
    height: 4px;
    margin-left: 5px;
    background-color: palevioletred;
    filter: blur(4px);
    border-radius: 4px;
    position: relative;
    top: -3px;
}
.section-subtitle {
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #797979;
    text-transform: uppercase;
}
.section-title {
    margin-top: 5px;
    font-size: 42px; 
    font-weight: 700;
    text-transform: capitalize;
    color: #05364d;
}

/* Main section styles */
.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 3px 16px 0 rgb(0 0 0 / 0.1);
    z-index: 10;
}
.main-header__brand {
    display: inline-block;
    vertical-align: middle;
}
.main-navigation {
    display: inline-block;
    vertical-align: middle;
}
.main-navigation__item {
    display: inline-block;
    padding: 10px;
}
.main-navigation__item a {
    text-decoration: none;
    text-transform: uppercase;
    color: #05364d;
    font-size: 12px;
    font-weight: 500;
}
.main-navigation__item a:hover {
    color: #efb6df;
}
.main-navigation__item.active a {
    color: #efb6df;
}

/* Footer section styles */
.footer {
    padding: 100px 0;
    margin-top: 50px;
    background-color: #021017;
    text-align: center;
}
.footer__navigation-items {
    margin-bottom: 50px;
}
.footer__navigation-item {
    display: inline-block;
    padding: 0 10px;
}
.footer__navigation-item a {
    color: white;
    text-decoration: none;
}
.footer__socials {
    list-style: none;
}
.footer__social {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    line-height: 45px;
    font-size: 1rem;
    color: #05364d;
    margin-right: 12px;
}
.footer__social:hover {
    background: linear-gradient(90deg, #1345e6 0%, #ed239f 100%);
}
.footer__social:hover i {
    color: white;
}
.footer__text {
    color: #797979;
}

@media only screen and (max-width: 991px) {
    .container {
        width: 94%;
    }
    /* Navigation */
    .main-header__brand img {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .main-navigation {
        display: none;
    }
    /* Footer */
    .footer__navigation {
        display: none;
    }
}